@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.collapse {
    width: 100%;

    .collapse-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5%;
        background-color: $main-color;
        border-radius: 5px;
        padding: 15px;

        h3 {
            color: #fff;
        }

        :hover {
            cursor: pointer;
        }

        img {
            transform: rotate(0deg);
            transition: all .4s;
        }
    }

    .collapse-content {
        visibility: hidden;
        opacity: 0;
        height: 0;
        max-height: 0;
        @include body-margin;
        overflow: hidden;
        padding: 0 1rem;
        transition: max-height .5s ease-in;
    }
}

.active {
    .collapse-content {
        visibility: visible;
        opacity: 1;
        height: auto;
        max-height: 500px;
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #F6F6F6;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @include body-margin;
        padding: 28px 20px;
        color: #000;
        font-size: 18px;
        font-weight: 400;
        transition: max-height .5s ease-out;
    }

    .collapse-title img {
        transform: rotate(-180deg);
    }
}

@media (max-width: 767.98px) {

    .collapse {

        .collapse-title {
            padding: 10px;

            h3 {
                color: #fff;
                font-size: 13px;
            }

            img {
                height: 12px;
            }
        }
        .collapse-content {
            margin: 0 5% 20px 5%;
            font-size: 13px;
        }
    }
}