@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 139px;
    margin-bottom: 139px;

    h1 {
        color: $main-color;
        font-size: 288px;
        font-weight: 700;
    }

    p {
        color: $main-color;
        font-size: 36px;
        font-weight: 500;
    }

    .error-link {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .error-container {
        margin-top: 113px;
        margin-bottom: 113px;
         gap: 113px;
 
         h1 {
             font-size: 148px;
         }
 
         p {
             font-size: 24px;
             text-align: center;
         }
 
         .error-link {
             font-size: 18px;
         }
     } 
}

@media (max-width: 767.98px) {
    .error-container {
       margin-top: 113px;
       margin-bottom: 113px;
        gap: 113px;

        h1 {
            font-size: 96px;
        }

        p {
            font-size: 18px;
            text-align: center;
        }

        .error-link {
            font-size: 14px;
        }
    }

}